Lab 4

In [20]:
import re

In [3]:
a = "1"
a

'1'

In [4]:
b = "2"
b

'2'

In [5]:
c = a + b
c

'12'

In [6]:
d = "ABCDEFG"
print(d[0:3])

ABC

In [7]:
e = "clocrkr1e1c1t"
print(e[::2])

correct

In [10]:
print("\ ")

\

In [13]:
f = "You are wrong"
f.upper()

'YOU ARE WRONG'

In [14]:
f2 = "YOU ARE RIGHT"
f2.lower()

'you are right'

In [15]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
g.find("snow")

95

In [16]:
g.replace("Mary", "Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [17]:
g.replace(",", ".")

'Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go'

In [18]:
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [21]:
s3 = "House Number- 1105"
r = re.search("/d", s3)
if r:
    print("Digit found")
else:
    print("Digit not found.")

Digit not found.

In [26]:
str1 = "The quick brown fox jumps over the lazy dog."
re.sub("fox", "bear", str1)

'The quick brown bear jumps over the lazy dog.'

In [23]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"
re.findall("woo", str2)

['woo', 'woo', 'woo', 'woo']